<% layout("/layouts/boilerplate.ejs")%>
<!-- Temporarily disable form validation to test submission -->
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br/><br/>
    <H3>Create a New Listing</H3>
    <form method="POST" action="/listings" class="needs-validation" enctype="multipart/form-data">
        <div>
            <label for="title" class="form-label">Title</label>
            <input id="title" class="form-control" type="text" name="listing[title]" placeholder="Add a catchy title" required/>
            <div class="valid-feedback">Title looks Good!</div>
        </div>
        <div>
            <label for="description" class="form-label">Description</label>
            <textarea id="description" class="form-control" name="listing[description]" required placeholder="Enter description"></textarea>
            <div class="invalid-feedback">Please enter a short description</div>

        </div>
        <div>
            <label for="image" class="form-label">Upload Image</label>
        <input id="image" class="form-control" type="file" name="listing[image]" required/>
        
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">price</label>
            <input id="price" class="form-control"  type="number" name="listing[price]" required placeholder="1200" min="0"/>
            <div class="invalid-feedback">Please enter a valid price</div>

            </div>
            <div class="mb-3 col-md-8" >
                <label for="country" class="form-label">country</label>
            <input id="country" class="form-control" type="text" name="listing[country]" required placeholder="India"/>
            <div class="invalid-feedback">country should be valid</div>

            </div>
        </div>
        
        <div>
            <label for="location" class="form-label">location</label>
            <input id="location" class="form-control"  type="text" name="listing[location]" required placeholder="Jaipur , Rajasthan"/>
            <div class="invalid-feedback">Location should be valid</div><br>
            <button class="btn btn-dark add-btn">Create Listing</button>
        </div>
        <br/><br/>
    </form>
    </div>
</div>
