<% layout("/layouts/boilerplate.ejs")%>
<div class="row mt-3">
    <h1 class="col-6 offset-3">Register on TravelStay</h1>
    <div class="col-8 offset-2">
        <form action="/signup" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input class="form-control" id="username" type="text" name="username" required/>
                <div class="valid-feedback">looks Good!</div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input class="form-control" id="email" type="email" name="email" required/>
                
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input class="form-control" id="email" type="password" name="password" required/>
                
            </div>
            <button class="btn btn-success">Register</button>
        </form>
    </div>
</div>